* {
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  background-color: #35548b;
}

a {
  text-decoration: none;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 300;
  background-color: #4369b2;
  padding: 5px 10px;
}

.nav-btns-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn {
  display: flex;
  font-size: 36px;
}

.search-btn {
  font-size: 26px;
}

/* Home Page */

.main-stock {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 30px 0 30px;
  background-color: #4369b2;
}

.main-stock > a {
  border: none;
  font-size: 40px;
}

input {
  color: #000;
  font-size: 14px;
}

.stk-list {
  display: flex;
  flex-wrap: wrap;
}

.stock-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  width: calc(50% - 20px);
  padding: 70px 10px;
  border: none;
}

.stock-item-container > p {
  font-size: 12px;
  text-align: end;
}

.stock-item-container:nth-child(4n-1),
.stock-item-container:nth-child(4n+2) {
  background-color: #3f62a4;
}

.stock-item-container:nth-child(4n-3),
.stock-item-container:nth-child(4n) {
  background-color: #4268b0;
}

/* Details Page */

.details-main-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-size: 30px;
  background-color: #4369b2;
}

.symbol-container {
  border-bottom: 1px solid #fff;
  font-size: 50px;
}

.price-container {
  display: flex;
  align-items: center;
}

.arrow-up > path {
  color: #3fcc6f;
}

.arrow-down > path {
  color: #fd6e70;
}

.details-breakline {
  background-color: #35548b;
  padding: 2px 30px;
  font-size: 16px;
}

.details-info-item {
  background-color: #4167ae;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  font-size: 20px;
}

.details-info-item:nth-child(even) {
  background-color: #3f62a4;
}

@media (min-width: 700px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 94vw;
    padding: 5px 46px;
  }

  .home-container {
    display: flex;
  }

  .main-stock {
    width: 230px;
    height: 250px;
  }

  .main-stock > a {
    font-size: 60px;
  }

  input {
    font-size: 24px;
    width: 100%;
  }

  .stock-item-container {
    width: calc(50%);
    padding: 40px 0;
  }

  .details-container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .main-stock {
    width: 350px;
  }

  .stock-item-container {
    width: 33.3%;
    padding: 70px 0;
  }
}
